<div style="overflow-x:hidden;" class= "container-fluid text-xs-center">
  <div class="card" style = "margin: 25px 25px 25px 25px;">
    <ul class="nav nav-tabs">
      <% if method == "profile"%>
        <li class="nav-item" >
          <a href = "/account_details/profile" style = "text-decoration:none;"><button class = "nav-link active">Your Profile</button></a>
        </li>
        <li class="nav-item" >
          <a href = "/account_details/subscribe " style = "text-decoration:none;"><button class = "nav-link" >Subscription</button></a>
        </li>
        <li class="nav-item" >
          <a href = "/account_details/statistics" style = "text-decoration:none;"><button class = "nav-link" >Statistics</button></a>
        </li>
      <% elsif method == "subscribe"%>
        <li class="nav-item" >
          <a href = "/account_details/profile" style = "text-decoration:none;"><button class = "nav-link ">Your Profile</button></a>
        </li>
        <li class="nav-item" >
          <a href = "/account_details/subscribe " style = "text-decoration:none;"><button class = "nav-link active" >Subscription</button></a>
        </li>
        <li class="nav-item" >
          <a href = "/account_details/statistics" style = "text-decoration:none;"><button class = "nav-link" >Statistics</button></a>
        </li>
      <% elsif method == "statistics"%>
        <li class="nav-item" >
          <a href = "/account_details/profile" style = "text-decoration:none;"><button class = "nav-link ">Your Profile</button></a>
        </li>
        <li class="nav-item" >
          <a href = "/account_details/subscribe " style = "text-decoration:none;"><button class = "nav-link" >Subscription</button></a>
        </li>
        <li class="nav-item" >
          <a href = "/account_details/statistics" style = "text-decoration:none;"><button class = "nav-link active" >Statistics</button></a>
        </li>
      <% end %>
    </ul>
    <div class="card-body">
      <div class="card-deck">
        <div class="card shadow">
          <div id = "display_area">
            <%= render method %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
