 <!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href = "/dashboard">BTAIMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item "><a class="nav-link" aria-current="page" href="/dashboard">Home</a></li>
        <% if session[:user_status] == "SUBSCRIBED"%>
          <li class="nav-item"><a class="nav-link active " aria-current="page" href="/pos">POS</a></li>
        <% end %>
        <% if session[:user_status] == "UNSUBSCRIBED"%>
          <li class="nav-item"><a class="nav-link" href="/subscribe">Subscribe</a></li>
        <% end %>
        <li class="nav-item"><a class="nav-link" href="/account_details">Account Details</a></li>
      </ul>
      <ul class="form-inline my-2 my-lg-0">
        <li class="nav-item "><a class="nav-link" aria-current="page" href="/logout" style = "color:red;">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<p style="color: green"><%= notice %></p>
<h1>Products</h1>
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>
<%= link_to "New product", new_product_path %>
