<div style = "margin: 25px 25px 25px 25px">
<h3 style = "color:red;">Error!</h3>
<% if entity.errors.any? %>
  <div style="color: red">
    <ul>
      <% entity.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
